body{
    background-image: url(wall.jpg);
    background-position: center;
    background-size: cover;
}
.sticky{
    border: 3px solid green;
    background-color: lightgreen;
    text-align: center;
    color: black;
    font-family: Brush Script MT;
    font-size: 40px;
}
.love{
    position: sticky;
    top: 5px;
    width: 300px;
    border: 10px solid red;
    padding: 50px;
    margin: 20px;
    margin-left: 0%;
    background-image: url(love.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}
.love h2{
    font-family: Lucida handwriting;
    font-size: 30px;
}
.love p{
    outline-color: #8C4545;
    outline-style: outset;
    font-family: Lucida handwriting;
    font-size: 20px;
}


.broken{
    position: sticky;
    top: 50%;
    width: 300px;
    border: 10px solid grey;
    padding: 50px;
    margin: 20px;
    margin-left: 20%;
    background-image: url(sad.jpg);
    background-position: center;
    color: white;
}
.broken h2{
    font-family: Lucida handwriting;
    font-size: 30px;
}
.broken p{
    outline-style: inset;
    outline-color: #BFBEBE;
    font-family: Lucida handwriting;
    font-size: 20px;
}


.achieve{
    position: sticky;
    top: 5px;
    width: 300px;
    border: 10px solid gold;
    padding: 50px;
    margin: 20px;
    margin-left: 40%;
    background-image: url(achieve.jpg);
    background-size: cover;
    color: white;
}
.achieve h2{
    font-family: Lucida handwriting;
    font-size: 30px;
}
.achieve p{
    outline-color: #F8F98B;
    outline-style: double;
    font-family: Lucida handwriting;
    font-size: 20px;
}

.fam{
    width: 300px;
    border: 10px solid blue;
    padding: 50px;
    margin: 20px;
    margin-left: 60%;
    background-image: url(fam.jpg);
    background-size: cover;
    color: white;
}
.fam h2{
    font-family: Lucida handwriting;
    font-size: 30px;
}
.fam p{
    outline-color: #5888D5;
    outline-style: groove;
    font-family: Lucida handwriting;
    font-size: 20px;
}